<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>organization List</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
</head>
<body>
<header th:insert="fragments/header.html"></header>
<aside th:insert="fragments/sidebar.html"></aside>
<div class="container">

    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">orgId</th>
            <th scope="col">기관명</th>
            <th scope="col">기관명(영문)</th>
            <th scope="col">Status</th>
            <th scope="col">Issuer</th>
            <th scope="col">Verifier</th>
            <th scope="col">생성날짜</th>
            <th scope="col">업데이트날짜</th>
            <th scope="col">수정</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post : ${postList}">
            <th scope="row">
                <span th:text="${post.orgId}"></span>
            </th>
            <td>
                    <span th:text="${post.orgName}"></span>
            </td>
            <td>
                <span th:text="${post.orgNameEng}"></span>
            </td>
            <td>
                <span th:text="${post.orgStatus}"></span>
            </td>
            <td>
                <span th:text="${post.isIssuer}"></span>
            </td>
            <td>
                <span th:text="${post.isVerifier}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(post.created, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(post.updated, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
                <a th:href="@{/organizations/post/edit/{orgId}(orgId=${post.orgId})}" role="button">수정</a>
            </td>
            <td>
                <a th:href="@{/organizations/post/delete(orgId=${post.orgId})}" role="button"
                   onclick="if(!(confirm('삭제하시겠습니까?'))) return false">삭제
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{/organizations/post}" role="button">추가</a>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>