<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>어드민 추가</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
</head>
<body>
<header th:insert="fragments/header.html"></header>
<div th:insert="fragments/sidebar.html"></div>
<div class="container">
    <form action="/org-dids/post" method="post">
        <div class="form-group row">
            <label for="inputOrgId" class="col-sm-2 col-form-label"><strong>orgId</strong></label>
            <div class="col-sm-10">
                <input type="text" name="orgId" class="form-control" id="inputOrgId">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDid" class="col-sm-2 col-form-label"><strong>did</strong></label>
            <div class="col-sm-10">
                <input type="text" name="did" class="form-control" id="inputDid">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputNid" class="col-sm-2 col-form-label"><strong>nid</strong></label>
            <div class="col-sm-10">
                <input type="text" name="nid" class="form-control" id="inputNid">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDidPrivateKey" class="col-sm-2 col-form-label"><strong>didPrivateKey</strong></label>
            <div class="col-sm-10">
                <input type="text" name="didPrivateKey" class="form-control" id="inputDidPrivateKey">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDidStatus" class="col-sm-2 col-form-label"><strong>didStatus</strong></label>
            <div class="col-sm-10">
                <input type="text" name="didStatus" class="form-control" id="inputDidStatus">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label"><strong>description</strong></label>
            <div class="col-sm-10">
                <input type="text" name="description" class="form-control" id="inputDescription">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDidName" class="col-sm-2 col-form-label"><strong>didName</strong></label>
            <div class="col-sm-10">
                <input type="text" name="didName" class="form-control" id="inputDidName">
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" role="button" value="저장">
            </div>
        </div>
    </form>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>